page-login {

}

#logo{
    background-image: url('../../assets/1.png');
    background-size: 25%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    height: 25%;
}

#contenido{
    
}


